.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category .section-subtitle {
  color: var(--radical-red);
}

.category .section-title {
  --color: var(--kappel);
}

.category .section-text {
  margin-block-end: 40px;
}

.category-card {
  padding: 20px 5px;
  text-align: center;
  border-radius: var(--radius-5);
  margin-left: 20px; 
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.category-card .card-icon {
  background-color: hsla(var(--color), 0.1);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
   margin-inline: 35%;
  margin-block-end: 30px; 
}

.category-card .card-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-5);
  margin-block: 15px 25px;
}

.category-card .card-badge {
  background-color: hsla(var(--color), 0.1);
  color: hsl(var(--color));
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 2px 18px;
  max-width: max-content;
  margin-inline: auto;
  border-radius: var(--radius-5);
}
.card-list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
