.section {
  background-color: #f5f2eb;
  padding-block-start: calc(var(--section-padding) + 80px);
}

.hero-content-col {
  color: var(--eerie-black-1);
  font-size: var(--fs-4);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero .btn {
  margin-inline: auto;
}
.hero-banner-col{
    display: flex;
    justify-content: center;
    align-items: center;
}




