/* Header.css */
.header{
  margin-top: 10vh;
  overflow-x: hidden;
  height: 80vh;
}

.header-content-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333; /* Choose your preferred text color */
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666; /* Choose your preferred text color */
}

.header-img-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img-col .img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add a border-radius to the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box-shadow to the image */
}
